.wrapper {
  @include outer-container;
  @include pad(0 1%);
}

header, footer {
  @include fill-parent();
  background-color: $base-header-color;
  color: $base-header-font-color;

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

header {
  box-shadow: 0px 1px 1px $medium-gray;
  font-size: $base-header-font-size;
  height: $base-header-height;
  line-height: $base-header-font-size;
  padding: 0 1.2em;
  position: fixed;

  li {
    @include transition(all 0.1s linear);
    display: inline-block;
    padding: $base-header-padding;

    &:hover {
      background-color: $medium-gray;
      cursor: pointer;
    }
  }
}

footer .wrapper {
  @include pad(2% 1%);

  ul {
    @include span-columns(2);
    display: block;
    float: left;

    .list-header {
      font-weight: bold;
    }

    a {
      color: $medium-gray;

      &:hover {
        color: inherit;
      }
    }

    li {
      @extend h6;
    }
  }
}

.content {
  padding-top: $base-header-height + 2em;
}

.hero {
  @include fill-parent;
  background-color: $light-red;
  font-size: 2em;
  height: 13em;
  text-align: center;
}

.vc-parent {
  display: table;
}

.vc-child {
  display: table-cell;
  vertical-align: middle;
}

.cards {
  @include clearfix();
  margin: 2em 0;
}

.card {
  @include span-columns(4);
  @include omega(3n);
  @include pad(1em);
  background-color: $light-yellow;
  border: 1px solid $base-border-color;
  display: block;
  float: left;
}

.grid {
  @include clearfix();
  margin: 2em 0;
}

.grid-wide, .grid-narrow {
  @include pad($base-grid-padding);
  height: 15em;
}

.grid-wide {
  @include span-columns(8);
  background-color: $light-gray;
}

.grid-narrow {
  @include span-columns(4);
  background-color: $blue;
}

.right {
  @include omega();
  float: right;
}

.left {
  float: left;
}
