.wrapper {
  @include outer-container;
  @include pad(0 1%);
}

header, footer {
  @include fill-parent();
  background-color: $base-header-color;
  color: $base-header-font-color;
}

header {
  box-shadow: 0px 1px 1px $medium-gray;
  font-size: $base-header-font-size;
  line-height: $base-header-font-size;
  height: $base-header-height;
  padding: 0 1.2em;
  position: fixed;

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  li {
    @include transition(all 0.1s linear);
    display: inline-block;
    padding: $base-header-padding;

    &:hover {
      background-color: $dark-gray;
      cursor: pointer;
    }
  }
}

footer {
  height: $base-footer-height;
}

.content {
  padding-top: $base-header-height + 2em;
}

.vc-parent {
  display: table;
}

.vc-child {
  display: table-cell;
  vertical-align: middle;
}

.cards {
  @include clearfix();
  margin: 2em 0;
}

.card {
  @include span-columns(4);
  @include omega(3n);
  @include pad(1em);
  background-color: $light-green;
  border: 1px solid $base-border-color;
  display: block;
  float: left;
}
