// Typography
///////////////////////////////////////////////////////////////////////////////
$lora: 'Lora', serif;
$roboto: 'Roboto', sans-serif;

$sans-serif: $roboto;
$serif: $lora;

$base-font-family: $serif;
$header-font-family: $sans-serif;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

$base-header-height: 3em;
$base-footer-height: $base-header-height;

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
