<% provide :title, "Home" %>

<section class="hero vc-parent">
  <div class="vc-child">
    <h1>Title</h1>

    <h3>This is a subtitle</h3>
  </div>
</section>

<section class="cards">
  <article class="card">
    <h5>Card 1</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut ultricies sem, et adipiscing turpis. Vivamus et pharetra velit. Donec ullamcorper sapien vulputate, lobortis metus vitae, euismod quam.</p>
  </article>
  <article class="card">
    <h5>Card 2</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut ultricies sem, et adipiscing turpis. Vivamus et pharetra velit. Donec ullamcorper sapien vulputate, lobortis metus vitae, euismod quam.</p>
  </article>
  <article class="card">
    <h5>Card 3</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut ultricies sem, et adipiscing turpis. Vivamus et pharetra velit. Donec ullamcorper sapien vulputate, lobortis metus vitae, euismod quam.</p>
  </article>
</section>

<section class="grid">
  <article class="grid-narrow left">
  </article>
  <article class="grid-wide right">
    <h3>A smaller title</h3>

    <p>Nullam tempor, diam vitae sagittis tincidunt, neque diam blandit nisl, vitae adipiscing ante lectus eget diam. Maecenas felis turpis, gravida quis nunc sit amet, faucibus cursus magna. Morbi non cursus nibh. Duis vel tortor dolor. Vestibulum ut pellentesque tortor. Aenean congue diam ut tempus sollicitudin.</p>
  </article>
</section>

<section class="grid">
  <article class="grid-narrow right">
  </article>
  <article class="grid-wide left">
    <h3>Another title</h3>

    <ul>
      <li>List 1</li>
      <li>List 2</li>
      <li>List 3</li>
      <li>List 4</li>
    </ul>

  </article>
</section>
