<% provide :title, "Home" %>

<h1>H1 Title</h1>
<h2>H2 Title</h2>
<h3>H3 Title</h3>
<h4>H4 Title</h4>
<h5>H5 Title</h5>
<h6>H6 Title</h6>

<p>LOREM IPSUM DOLOR SIT AMET, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.</p>

<ul>
  <li>This is an unordered list 1</li>
  <li>This is an unordered list 2</li>
  <li>This is an unordered list 3</li>
  <li>This is an unordered list 4</li>
  <li>This is an unordered list 5</li>
</ul>

<ol>
  <li>This is an ordered list 1</li>
  <li>This is an ordered list 2</li>
  <li>This is an ordered list 3</li>
  <li>This is an ordered list 4</li>
  <li>This is an ordered list 5</li>
</ol>
